registry=https://registry.npmjs.org
http_proxy=http://internal-placeholder.com:912
https_proxy=http://internal-placeholder.com:912
NO_PROXY=localhost,127.0.0.1,msftauth.net,reportportal.idcqa.infra-host.com