bin
BMaaS/airflow/dags/scripts/__pycache__/
.idea/*
.ijwb/*
.vscode/*
idcs_framework/tests/Cypress/IDC0.5/node_modules/*
*~
bazel-*
!bazel-remote-cache
.bazelrclocal
/local
idcs_core/pkg
go.work.sum
idcs_shared/ansible_playbooks/vault_file.txt
deployment/scripts/node_modules
node_modules/*
keys.pem
package-lock.json
package.json
rgcluster.jwk
deployment/scripts/node_modules
design_system/node_modules/*
worktrees
*.qcow2
*.qcow2.md5sum

# Gingko Tests
*.test
*.report
report.html
junit-results.xml
test.log
clab-*/
docs/source/_ext/__pycache__/category_validator.cpython-310.pyc
docs/source/_ext/__pycache__/collectfieldnodes.cpython-310.pyc
docs/source/_ext/__pycache__/filter_validator.cpython-310.pyc
docs/source/_ext/__pycache__/phrase_validator.cpython-310.pyc
.DS_Store
.mirrord/
.env.local
/go/pkg/infaas-dispatcher/deployment/o11y/certs/*
.teller.yml
docs/source/_ext/__pycache__/createinstancespecs.cpython-310.pyc
docs/source/_ext/__pycache__/json2table.cpython-310.pyc
