.TrainingDetails {
  display: flex;
  flex-direction: column;
  max-width: 48rem;
}

.TrainingDetailsActions {
  display: flex;
  flex-direction: column;
  width: 100%;  
}

@media (min-width: 768px) {
  .TrainingDetailsActions {
    max-width: 32rem;
  }
}