$dashboard-background: linear-gradient(115deg, rgba(17, 153, 142, 0.07) 0%, rgba(0, 8, 100, 0.07) 93.02%), var(--surface-background-color);

#root:has(.sheet > .section.dashboard-container) {
    background: #{$dashboard-background};

    .siteBreadcrum {
        background: var(--hit-box);
    }
}

.sheet:has(.section.dashboard-container) {
    background: var(--hit-box);
}

.section.dashboard-container {
    background: var(--hit-box);
}

.flex-even {
    flex: 1;
}

.row-doughnut-chart {
    max-height: 2.5rem;
    height: 2.5rem; 
    min-width: 2.5rem; 
    width: 2.5rem 
}

.dashboard-image { 
    height: 12.5rem;
    max-width: 100%;
    object-fit: cover 
}