network:
  version: 2
  renderer: networkd
  ethernets:
    data:
      dhcp4: true
      match:
          macaddress: {{ bastion_macaddress }}
      set-name: data
{% for vmnum in range(1, guest_host_deployments|int + 1) %}
    vlan{{ vmnum }}:
      dhcp4: false
      match:
        macaddress: {{ vlan_base_mac }}{{ '%02x' % vmnum }}
      set-name: vlan{{ vmnum }}
      addresses:
        - 192.168.{{ vmnum + 100 }}.254/24
{% endfor %}
