/***
This file is used to customize global variables and classes for dark theme.
For reference read the default dlux dark theme in file /src/scss/dlux/scss/_darkmode.scss
Please just customize branding for specific provider. Don't use this file to customize spacing or
anything common to all providers, if so PR won't be accepted.
*/

[data-bs-theme="dark"] {
  .siteLogo {
    content: url(../../../assets/images/dellLogo.png);
    width: -moz-available; 
    width: -webkit-fill-available;
    height: -moz-available; 
    height: -webkit-fill-available;
    padding: 0;
    margin: 0;
  } 
}