hf_home={{ hf_home }}
pt_hpu_pool_mem_acquire_perc={{ pt_hpu_pool_mem_acquire_perc }}
pt_hpu_max_compound_op_size={{ pt_hpu_max_compound_op_size }}
pt_hpu_lazy_acc_par_mode={{ pt_hpu_lazy_acc_par_mode }}
pt_hpu_recipe_cache_config={{ pt_hpu_recipe_cache_config }}
LOG_LEVEL_ALL=4
ENABLE_CONSOLE=true