SCREEN=small

## IDC Console
IDC_URL='{
    "QA":         { "url": "https://qa1.console.idcservice.net/", "doSshValidation": true, "sshSocksProxy": "internal-placeholder.com:1080" },
    "Staging":    { "url": "https://staging.console.idcservice.net", "doSshValidation": true, "sshSocksProxy": "internal-placeholder.com:1080" },
    "Production": { "url": "https://console.cloud.intel.com", "doSshValidation": true, "sshSocksProxy": "internal-placeholder.com:1080" }
}'
# https://console.cloud.intel.com   - main Prod
# https://console.idcservice.net    - beta Prod

IDC_environment='$IDC_environment'
IDC_region='$IDC_region'

# IDC_user='{
#     "Standard": {"login": "sre_test_std@proton.me",  "password": ".."},
#     "Premium":  {"login": "sre_test_prem@proton.me", "password": ".."},
#     "Preview":  {"login": "e2e-test-user@idcpreviewsre.awsapps.com", "password": ".."},
#     "Internal": {"login": "sre_test_int@intel.com",  "password": ".."}
# }'
IDC_user='$IDC_user'
IDC_user_type='$IDC_user_type'
