.gallery {
  display: flex;  
  align-items: center;
  align-self: stretch;  
  overflow-x: auto;
  scroll-behavior: auto;
}

.mediaGalleryCard {
  display: flex;
  object-fit: cover;
  min-height: 12.21875rem;
  height: 12.21875rem;
  flex-direction: column;
  align-items: flex-start;  
}

@media (min-width: 769px) {
  .gallery {
    overflow-x: hidden;
  }

  .mediaGalleryCard {
    min-height: 18.5rem;
    height: 18.5rem;
  }
}

.mediaGalleryImage {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-arrow {
  min-width: 2.375rem;
}

.mediaGalleryModal {
  display: flex;
  object-fit: cover;
  min-height: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;  
}