attrs==23.2.0
docutils>=0.17.0
ipykernel==6.29.5
ipython==8.12.3
nbsphinx==0.8.1
pandas==2.2.2
pandoc==2.4.0
pydata-sphinx-theme==0.7.2
pypandoc==1.14
regex==2024.5.15
sphinx==5.3.0
sphinx-copybutton==0.5.0
sphinx-design==0.3.0
sphinx-multiproject==1.0.0rc1
sphinx-tabs==3.4.5
sphinx-design==0.3.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib.bibtex==2.6.2
sphinxcontrib.mermaid==1.0.0
